<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verbalia Languages</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{% static 'LOGONUEVO2.png' %}" alt="Verbalia Logo" height="80" width="auto"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                
                
                {% if user.is_authenticated %}
                
                <li class="nav-item">
                    <a href="/inicio_plan" class="nav-link">
                        Plans {% if plans_completados %}🎉{% endif %} |
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/inicio_performance" class="nav-link">
                        Performances {% if performances_completados %}🎉{% endif %} |
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/inicio_attendance" class="nav-link">
                        Attendances {% if todos_completados %}🎉{% endif %} |
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/grades" class="nav-link">Create Grades |</a> 
                </li>
                <li class="nav-item">
                    <a href="/responsibility_table" class="nav-link">Responsibility Table |</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Home |</a>
                </li>
                <li class="nav-item">
                    <a href="/signout" class="nav-link">Signout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Signup</a>
                </li>
                <li class="nav-item">
                    <a href="/signin" class="nav-link">Signin</a>
                </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <nav>
        <ul>    
                {% if user.is_authenticated %}
                
                    <a href="/inicio_current_plan" class="btn btn-dark rounded-pill mt-2">My Current Plan</a>
            
                    {% if user.username == "mireyaramirez" or user.username == "alexisgalicia" or user.username == 'alineramirez' or user.username == "gabrielpeña" %}
                    <li class="nav-item  mt-2">
                        <a href="/view_performances" class="nav-link">View Performances</a>
                    </li>
                    <li class="nav-item">
                        <a href="/edit_responsibility_notes" class="nav-link">Responsibility Notes</a>
                    </li>
                    <li class="nav-item">
                        <a href="/view_attendances" class="nav-link">View Attendances</a>
                    </li>
                    <li class="nav-item">
                        <a href="/view_plans" class="nav-link">View Plans</a>
                    </li>
                    <li class="nav-item">
                        <a href="/tasks" class="nav-link">Tasks</a>
                    </li>
                    {% endif %}
                {% endif %}
        </ul>
    </nav>
    {% if user.is_authenticated %}
    <h5> Welcome Teacher: {{ user.first_name }} {{ user.last_name }}!
    </h5>
    {% endif %}


    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>