{% extends "base.html" %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h2 class="display-4 text-center mb-4">Edit Responsibility Notes</h2>
        
        <hr>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">Teacher</th>
                    <th class="text-center">Note</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="align-middle">{{ user.username }}</td>
                    <td>
                        <form method="post" class="d-flex justify-content-between align-items-center">
                            {% csrf_token %}
                            <input type="text" name="new_note" value="{{ user.responsibilitynote.note|default:'' }}" class="form-control mr-2">
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button type="submit" class="btn btn-dark">Update</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
