{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center"> ¿Quienes somos? </h1>
    <p> 
        Con más de 15 años de experiencia en el ámbito de la enseñanza lingüística, VERBALIA se ha consolidado como una referencia en el aprendizaje de idiomas. Nuestro enfoque integral en el desarrollo de habilidades lingüísticas, respaldado por un equipo de profesores altamente calificados, garantiza una educación personalizada y motivadora.

        Nos distingue nuestra metodología e inmersión cultural, combinada con adecuadas instalaciones, crea un ambiente enriquecedor y acogedor para todos nuestros estudiantes.
        </p>

        <p>A lo largo de esta trayectoria, hemos comprendido que aprender un idioma trasciende las simples lecciones; es una puerta hacia nuevas formas de pensar, sentir y conectarse con el mundo. Únete a nuestra diversa comunidad y descubre cómo, en VERBALIA, el aprendizaje de un idioma se convierte en un viaje hacia un universo repleto de conexiones interculturales.</p>

        {% if user.is_authenticated %}

        {% else %}
            <div class="text-center">
                <a class="btn btn-secondary" href="/signin">Sign In</a>
                <a class="btn btn-dark" href="/signup">Sign Up</a>
            </div>
        {% endif %}
    </section>
</main>

{% endblock %}