{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-4 text-center mb-4">Performances for: {{ week }}</h1>
        <hr>
        <ul class="list-unstyled text-center">
            {% for performance in weekly_performances %}
                <li class="mb-2">
                    <a href="{% url 'performance_detail' performance.id %}" class="btn btn-dark">
                        {{ performance.group.name }} - Teacher: {{ performance.user }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}
